<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property="ix:host" content="grazio.imgix.net">
    <meta property="ix:useHttps" content="true">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag :site %>
    <%= stylesheet_link_tag :syntax %>

    <%= javascript_include_tag :jquery %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag :imgix %>

  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/nav" %>
    <%= partial "partials/case-header" %>

    <div class="row">
      <div class="mt-l">
        <div class="blog-wrapper">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
