<!doctype html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <link href="/images/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"></link>
  <link href="/images/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"></link>

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= yield_content(:title) %></title>

<link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.11.0/styles/monokai-sublime.min.css">
<script src="//cdn.jsdelivr.net/highlight.js/9.11.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>

  <%= stylesheet_link_tag :tachyons %>
  <%= stylesheet_link_tag :site %>

  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag :barba %>
  <%= javascript_include_tag :all %>
  <%= javascript_include_tag :scrollreveal %>

</head>

<body id="wrapper" class="<%= page_classes %>">
  <div class="container">
      <%= yield %>
  </div>
</body>
</html>
