<% content_for(:title, this.title) %>
<div class="container" data-namespace="case">
  <%= partial "partials/nav", :locals => {:textColor => this.textColor } %>
  <%= partial "partials/case-header" %>

  <div class="row">
    <%= partial "partials/case-info" %>
  </div>

  <% this.caseStudyContainer.each do | this | %>
    <% if this.key?("textBlock") %>
      <div class="row typography">
        <section class="reveal mt0 <%= 'mh0 mh3-m mh5-ns' if this.key?('align') %> <%= "case-text-#{this['align']}" if this.key?('align') %>">
          <div class="case-text w-100 w-70-ns ma0 <%= 'ml0 ml4-ns order-1' if this['align'] == 'right'%> <%= 'mr0 mr4-ns order-1 order-0-ns' if this['align'] == 'left'%>"><%= markdown(this['textBlock']) %></div>
          <span class="f5 mt4 <%= 'order-0' if this['align'] == 'left'%> <%= 'order-0' if this['align'] == 'right'%>"><%= this['subHeader']%></span>
        </section>
      </div>
    <% end %>
    <% if this.key?("content") %>
      <div class="cf flex flex-wrap flex-center">
        <div class="row">
          <div class="w-50 fl">
              <p class="ma0"><%= this['content']%></p>
          </div>
        <div class="w-50 fl">
          <%= partial(:'partials/image', :locals => { :imageurl => this.media['url'],  :alt => this.media['title'] }) %>
        </div>
        </div>
      </div>
    <% end %>
    <% if this.key?("mediaContainer")%>
      <div class="row">
        <%= partial(:'partials/image', :locals => { :cssClass => 'case-image mt6', :imageurl => this.mediaContainer['url'],  :alt => this.mediaContainer['title'] }) %>
      </div>
    <% end %>

    <% if this.key?("videoFile")%>
      <div class="row">
        <video class="case-video reveal mt6" preload="none" paused loop>
          <source src="<%= this.videoFile['url']%>" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video tag.
        </video>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <%= partial(:'partials/footer', :locals => {:content => data.site.caseStudy, :title => 'See more projects', :name => data.site.caseStudy.title}) %>
  </div>
</div>
