<div class="file-share" style="background:<%= current_page.data.bgcolor%>;">
  <a style="color:<%= current_page.data.color%>;" href="<%=dllink%>">
  <img src="<%=imageurl%>" alt="<%=imageurl%>">
  <div><span>Download</span>  <p><%=linktitle%></p></div>

  </a>
</div>
