      <li class="reveal tile <%= 'promoted' if this.promoted == true %>" data-lspacer="<%= this.leftSpacing %>">
        <a class="tile-link" href="<%= dir %><%= this.title.parameterize %>">
          <div class="tile-content" data-color="<%= this.textColor %>">
            <h2><%= this.titleHover %></h2>
            <span>
              <%= secondary %>
              <span class="readmore" href="<%= this.title.parameterize %>"><%= partial(:'partials/arrow', :locals => { :strokecolor => this.textColor }) %></span>
            </span>
          </div>

          <div class="tile-bg" data-bgcolor=" <%= this.bgColor %> ">
            <% if this.key? :thumbnail %>
              <div class="tile-image">
                <%= partial(:'partials/image', :locals => { :imageurl => this.thumbnail['url'], :alt => this.thumbnail['title'], :ratio => "1x1" }) %>
              </div>
            <% end %>
          </div>
        </a>
      </li>
