<li class="tile <%= 'promoted' if project.data.promoted == true %>" data-rspacer="<%= project.data.rspacer%>" data-lspacer="<%= project.data.lspacer %>">
  <a href="<%= project.url %>">
    <div class="tile-content" data-color="<%= project.data.color %>">
      <h2><%= project.data.hovertext %></h2>
      <span><%= secondary %></p>
    </div>

    <div class="tile-bg" data-bgcolor=" <%= project.data.bgcolor %> ">
      <div class="tile-image">
        <%= partial(:'partials/image', :locals => { :imageurl => 'case-images/' + project.data.image, :alt => project.title, :ratio => "1x1" }) %>
      </div>
    </div>
    </a>
  </li>
