<li class="reveal tile fl <%= 'promoted' if this.promoted %>" data-lspacer="<%= this.leftSpacing %>">
  <a class="tile-link" href="<%= dir %><%= this.title.parameterize %>">
    <div class="tile-content" style="color: <%= this.textColor ? (this.textColor) : ('#999');%>">
      <div class="tile-title"><%= this.titleHover.sub(this.title, "<span>#{this.title}</span>")%></div>

      <span class="f5">
        <%= secondary %>
        <span class="readmore" href="<%= this.title.parameterize %>">
        	->
        </span>
      </span>
    </div>
    <div class="tile-bg" >
      <% if this.key? :videoThumbnail %>
        <div class="tile-video <%= "full-width-video" if this.fullwidthVideo %>">
          <video playsinline muted loop poster="<%= this.thumbnail['url'] %>">
            <source src="<%= this.videoThumbnail['url'] %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      <% else %>
        <% if this.key? :thumbnail %>
          <div class="tile-image">
            <%= partial(:'partials/image', :locals => { :imageurl => this.thumbnail['url'], :alt => this.thumbnail['title'] }) %>
          </div>
        <% end %>
      <% end %>
      <div class="tile-cover" style="background: <%= this.bgColor ? (this.bgColor) : ('#000') %> ">
      </div>
      <% color = darken_color(this.bgColor, amount=0.6) %>
      <div class="tile-shadow" style="background-color: <%= hex_to_rgb(color)%>; box-shadow:<%= hex_to_rgb(color)%> 0px 2px 2px, <%= hex_to_rgb(color)%> 0px 4px 4px, <%= hex_to_rgb(color)%> 0px 8px 8px, <%= hex_to_rgb(color)%> 0px 16px 16px, <%= hex_to_rgb(color)%> 0px 32px 32px, <%= hex_to_rgb(color)%> 0px 64px 64px;">

      </div>
    </div>
  </a>
</li>
