<% content_for(:title, this.title) %>
<%= partial "partials/nav", :locals => {:textColor => this.textColor } %>
<%= partial "partials/case-header" %>

<div class="row">
  <div class="mt-s">
    <div class="case-container">
      <%= partial "partials/case-info" %>
      <% this.caseStudyContainer.each do | this | %>
        <% if this.key?("textBlock") %>
          <section class="<%= "case-text-#{this['align']}" if this.key?('align') %>">
            <div class="case-text"><%= markdown(this['textBlock']) %></div>
            <span><%= this['subHeader']%></span>
          </section>
        <% end %>
        <% if this.key?("mediaContainer")%>
        <%= partial(:'partials/image', :locals => { :cssClass => 'case-image', :imageurl => this.mediaContainer['url'],  :alt => this.mediaContainer['title'] }) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= partial(:'partials/footer', :locals => {:content => data.site.caseStudy, :title => 'See more projects', :name => data.site.caseStudy.title}) %>

</div>
