---
title: Volvo
date: 2016-12-06 15:10 UTC
year: 2014
tags:
- 'Visual Design'
- 'Pitch'
roles:
- 'Lead Designer'
image: 'case-volvo.png'
hovertext: 'I led the design for a <span>Volvo</span> pitch'
color: '#06eddf'
bgcolor: '#0F52EB'
lspacer: 2

order: 1
---

%p
  Back in 2014 during my time at DigitasLBi I was part of the pitch team to design a future Volvo website.
%p
  The core values for Volvo Cars is simplicity, functionality and durability. Volvos Scandinavian heritage is an integral part of the brand and we wanted to create a website which mirrors all these values through an modern and aesthetic web experience.

<%= partial(:'partials/image', :locals => { :imageurl => "volvo/overview.jpg",  :alt => current_page.title, :ratio => "4x3" }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "volvo/macbook.jpg",  :alt => current_page.title, :ratio => "4x3" }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "volvo/product-details-page.jpg",  :alt => current_page.title, :ratio => "1x3" }) %>
%p.title-right
  Car configurator
%p.left
  The website, fully responsive is packed with bits of configurators that the user can interact with, such as changing the paint, rims, interior upholstery, entertainment systems, and engine specifications on the go as the user is scrolling down the module-based design.
%p.left
  The modular design allows the site to guide the user and create their car of their dreams, without thinking too much.

<%= partial(:'partials/image', :locals => { :imageurl => "volvo/car-page.jpg",  :alt => current_page.title, :ratio => "4x3" }) %>
%p.title-right
  Product listing page
<%= partial(:'partials/image', :locals => { :imageurl => "volvo/iconography.jpg",  :alt => current_page.title, :ratio => "4x3" }) %>
%p.title-left
  Iconography
%p.right
  Delicate iconography represented the new elegance we wanted Volvo to convey to their audience.
