---
title: husqvarna
date: 2016-12-07 19:25 UTC
tags:
- 'Pitch'
- 'Visual Design'
roles:
- 'Lead Designer'
image: 'case-husqvarna.png'
hovertext: 'I helped win <span>Husqvarna</span> as a client'
color: '#a52dea'
bgcolor: '#62F3BA'
lspacer: 1
rspacer: 0
order: 2
---

%p
  With limited time we delivered visual designs for Husqvarna to represent what their future web presence could look like. This was a direct collaboration between marketeers, creative directors, copywriters and the designer, me. I introduced a sensible typographic hierarchy, reduced colours, the usage of iconography, better font sizes for legibility, increased whitespace for easier readability, and breathing space for the content.
<%= partial(:'partials/image', :locals => { :imageurl => "husqvarna/overview.jpg", :alt => current_page.title }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "husqvarna/macbook.jpg", :alt => current_page.title }) %>

<%= partial(:'partials/image', :locals => { :imageurl => "husqvarna/home-page.jpg", :alt => current_page.title }) %>
%p.title-right
  Home page
%p.left
  Our thinking behind the homepage was to put extra focus on the inspirational stories and knowledge content for the users, because they are less likely to have a set goal at this point in the journey. But catering for the minority of users with a clear goal we included entires to the different product lines.

<%= partial(:'partials/image', :locals => { :imageurl => "husqvarna/product-page.jpg", :alt => current_page.title }) %>
%p.left
  The product details page focuses on bringing out contextual stories with the product involved. The user can watch a promotional video of a forestry worker using the Husqvarna chainsaw, read reviews, see related products and also at the end of the page there is a call to action to find a dealer.

<%= partial(:'partials/image', :locals => { :imageurl => "husqvarna/product-listing-page.jpg", :alt => current_page.title }) %>
%p.left
  The product listing page features filters and slider to allow the user to find the right tool for the job.

<%= partial(:'partials/image', :locals => { :imageurl => "husqvarna/iconography.jpg", :alt => current_page.title }) %>

%p.right
  We did what we could in the limited timeframe – however the fact the we won the client meant that our ideas and designs still resonated positively with Husqvarna. The pitch was a start of a bigger conversation between the client and DigitasLBi. And from there the design took off into production, with major changes to the layout but the DNA still intact. Unfortunately I wasnt part of the production phase, I only produced the vision, but I'm happy to see the essence is still there on the live site.
