---
title: heyplace
date: 2016-12-07 19:56 UTC
tags:
- 'Side projects'
roles:
- 'Designer'
- 'Front-end developer'
image: 'case-heyplace.png'
hovertext: 'Me and my friends created an app called <span>Heyplace.</span>'
color: '#76280C'
bgcolor: '#F3B462'
lspacer: 0
rspacer: 0
order: 4
---
<%= partial(:'partials/image', :locals => { :imageurl => "heyplace/overview.jpg", :alt => current_page.title }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "heyplace/log-in.jpg", :alt => current_page.title }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "heyplace/map-view.jpg", :alt => current_page.title }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "heyplace/camera.jpg", :alt => current_page.title }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "heyplace/misc-view.jpg", :alt => current_page.title }) %>
<%= partial(:'partials/image', :locals => { :imageurl => "heyplace/iconography.jpg", :alt => current_page.title }) %>
