<%= partial "partials/nav", :locals => {:textColor => this.textColor } %>

<%= partial "partials/case-header", :locals => {:subheader => this.postedDate.strftime("%b #{this.postedDate.day.ordinalize} — %Y")} %>

<div class="row">


  <div class="mt-s">
    <div class="case-container mt-xl">
      <% this.blogContent.each do | this | %>
        <% if this.key?("markdownBlock") && this["markdownBlock"] %>
          <%= markdown(this['markdownBlock']) %>
        <% end %>
        <% if this.key?("textBlock") && this["textBlock"] %>
          <p><%= this['textBlock']%></p>
        <% end %>
        <% if this.key?("mediaContainer") && this["mediaContainer"] %>
          <%= partial(:'partials/image', :locals => { :imageurl => this.mediaContainer['url'],  :alt => this.mediaContainer['title'], :ratio => "3x4" }) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= partial(:'partials/footer', :locals => {:content => data.site.blog, :title => 'See more projects'}) %>
</div>
