<% content_for(:title, this.title) %>
<%= partial "partials/nav", :locals => {:textColor => this.textColor } %>
<%= partial "partials/case-header", :locals => {:subheader => this.postedDate.strftime("%b #{this.postedDate.day.ordinalize} — %Y")} %>
<div class="row">


  <div class="mt5">
    <div class="case-container">
      <% globalThis = this %>
      <div class="blog-wrapper">
      <% this.blogContent.each do | this | %>
        <% if this.key?("textBlock") && this["textBlock"] %>
          <%= markdown(this['textBlock'])%>
        <% end %>
        <% if this.key?("fileContainer") && this["fileContainer"] %>
            <%= partial(:'partials/file-share', :locals => { :this => this, :globalThis => globalThis }) %>
        <% end %>
        <% if this.key?("mediaContainer") && this["mediaContainer"] %>
          <%= partial(:'partials/image', :locals => { :imageurl => this.mediaContainer['url'],  :alt => this.mediaContainer['title'] }) %>
        <% end %>
      <% end %>

      <a href="#" class="disqus-toggle flex flex-center">
        <%= partial(:'partials/comment-icon') %>
        <p>Show comments</p>
      </a>
      <div class="disqus-wrapper">
        <%= disqus %>
      </div>
      </div>
    </div>
  </div>
  <%= partial(:'partials/footer', :locals => {:content => data.site.blog, :title => 'Read more articles'}) %>
</div>
<script>hljs.initHighlightingOnLoad();</script>
