<% content_for(:title, this.title) %>
<div class="container" data-namespace="case">
  <%= partial "partials/nav", :locals => {:textColor => this.textColor } %>
  <%= partial "partials/case-header", :locals => {:subheader => this.postedDate.strftime("%b #{this.postedDate.day.ordinalize} — %Y")} %>

  <div class="row">
    <% globalThis = this %>
    <div class="measure-wide center mt5 mt6-ns">
    <% this.blogContent.each do | this | %>
      <% if this.key?("textBlock") && this["textBlock"] %>
        <%= markdown(this['textBlock'])%>
      <% end %>
      <% if this.key?("fileContainer") && this["fileContainer"] %>
          <%= partial(:'partials/file-share', :locals => { :this => this, :globalThis => globalThis }) %>
      <% end %>
      <% if this.key?("mediaContainer") && this["mediaContainer"] %>
        <%= partial(:'partials/image', :locals => { :imageurl => this.mediaContainer['url'],  :alt => this.mediaContainer['title'] }) %>
      <% end %>
    <% end %>

    </div>
  </div>

  <div class="row">
    <%= partial(:'partials/footer', :locals => {:content => data.site.blog, :title => 'Read more articles'}) %>
  </div>
</div>
