<% content_for(:title, 'Sebastian Graz') %>

<%= partial "partials/nav", :locals => {:textColor => '#000' } %>

<div id="home" class="row flex flex-column">

  <div class="mt6 mb2 relative relative-m absolute-ns">
    <h1 class="f3 mb3">Sebastian Grąz</h1>
  </div>

  <ul class="tiles list cf" id="work">
    <% data.site.caseStudy.sort_by{ |id, e| e['order'] }.each do |id, this | %>
      <%= partial "partials/tile", :locals => { :this => this, :dir => '/casestudy/', :secondary => this.year }%>
    <% end %>
  </ul>

  <div class="mt6 mb2">
    <div class="flex-between">
      <h1 class="f3">Thoughts & experiments <sup><%= data.site.blog.count %></sup></h1>
      <% if data.site.blog.count > 5%>
        <a href="/blog">Read all articles</a>
      <% end %>
    </div>
  </div>

  <ul class="tiles list cf" id="blog">
    <% data.site.blog.take(5).each do |id, this | %>
      <%= partial "partials/tile", :locals => { :this => this, :dir => '/blog/', :secondary => this.postedDate.strftime("%a #{this.postedDate.day.ordinalize}")} %>
    <% end %>
  </ul>

  <div id="about" class="flex flex-column">
    <%= partial "partials/about" %>
  </div>

</div>
